@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Oswald');

/*--------------javascript------------*/
<style type="text/css">
    #scroller {
        position: relative;
    }
    #scroller .innerScrollArea {
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    #scroller ul {
        padding: 0;
        margin: 0;
        position: relative;
    }
    #scroller li {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: absolute;
    }
</style>
/*--------------end javascript--------------*/

/*-----------universal styles-------*/
.container-fluid {
  padding: 0;
  margin: 0;
}

/*---------end universal-------------*/

/*---------------navbar-------------*/

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  font-family: 'Oswald', sans-serif;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
  color: #fff;
  background-color: rgba(17, 17, 17, .5);
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #f8512f;
  background-color: rgba(17, 17, 17, .2);
}

.navbar-default .navbar-nav>li>a {
  color: #fcfcfc;
  text-shadow: 1px 1px 2px #0a0a0a;
}

nav.navbar {
  position: absolute;
  top: 0;
  right: 20;
  left: 0;
  z-index: 20;
  background-color: white;
  padding: 30px;
}



/*--------------end navbar--------*/
/*--------jumbotron------------*/
.jumbotron {
  background-size: cover;
  height: 650px;
  background-image: url('../img/_DSC0004-1 lucis.jpg');
  margin-top: 100px;
}

.jumbotron>h1 {
  margin-top: 400px;
  color: #fff;
  text-shadow: 2px 2px 5px #0a0a0a;
  margin-left: 30px;
  font-size: 5vw;
  font-family: 'Playfair Display', serif;
}

.jumbotron>p {
  color: #fff;
  text-shadow: 2px 2px 5px #0a0a0a;
  margin-left: 30px;
  font-size: 4vmin;
  font-family: 'Playfair Display', serif;
}

.logoJumbotron {
  max-height: 160px;
  margin-top: -60px;
}

/*---------------jumbotron end-----*/

/*-------------footer-------------*/
.footer {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-top: 30px;
}

.logo {
  max-height: 150px;
  margin-top: -25px;
}

.social  {
  width: 400px;
  position:relative;
  margin: 50px auto;
  margin-top: -10px;

}
.social a{
    position: relative;
    display: inline-block;
    font-family: "icomoon";
    font-size: 1.2em;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: white;
    border-radius: 50%;
    text-align: center;
    margin-right: 30px;
    font-smoothing: antialiased;
}
.social .fb{
    background: #46629E;
}
.social .fb:before,
.social .fb:after{
    border-color: #46629E;
}

.social .gp{
    background: #DD4B39;
}
.social .gp:before,
.social .gp:after
{
    border-color: #DD4B39;
}
.social a:before,
.social a:after{
    content: "";
    display: block;
    position: absolute;
    background: transparent;
    top: 0; bottom: 0; left: 0; right: 0;
    border-radius: 50%;
    transition: .3s all;
    border: 3px solid;
}
.social a:hover:after{
   -webkit-transform: scale(1.5);
}
.social a:hover:before{
    -webkit-transform: scale(2);
    transition: .3s all;
    opacity: 0;
}

/*--------------end footer----------*/
/*---------------Gallery-----------*/
.footerGallery {
  margin-top: 180px;
  text-align: center;
  /*margin-left: 200px;*/
  font-family: 'Oswald', sans-serif;
}

.innerScrollArea {
  max-height: 500px;
  margin-top: auto;
}
/*-----------End Gallery---------*/

/*-----------contact---------*/
#contactUs {
  height: 500px;
  margin-top: 100px;
}

#contactUs,h1,p {
  font-family: 'Playfair Display', serif;
}

.maps {
  max-height: 400px;
  margin-top: 100px;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}
.contact_us_row {
  margin-top: 100px;
}

.maps, h5{
  font-weight: 600;
  font-size: 1.5em;
}


/*-------------end contact---------*/
